---
import { basics } from "@/cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";


const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;
---

<Section>
  <div class="container">
    <div class="info"></div>
    <div class="label"></div>
    <span>
      {city}, {region}
    </span>
    <footer>
      {email &&
        <a href=`mailto:${email}` title = { `Enviar un correo electrónico a ${name} al correo ${email}` } >
          <Mail/>
        </a>}
      {email &&
        <a href=`tel:${phone}` title = { `Llamar por teléfono a ${name} al número ${phone}` } >
          <Phone />
        </a>}
    </footer>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>

</Section>

  <style>
  </style>
