---
import Section from "@/components/Section.astro";

import { projects } from "@/cv";
---

<Section title="Proyectos">
  <section>
    {
      projects.map(
        ({
          name,
          startDate,
          endDate,
          description,
          highlights,
          url,
          isActive,
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear = endDate ? new Date(endDate).getFullYear() : "Actual";

          const years = `${startYear} - ${endYear}`;

          return (
            <article>
              <header>
                <div>
                  <h3>
                    <a href={url} title={`Ver el proyecto ${name}`}>
                      {name}
                    </a>
                    {isActive && <span>&bull;</span>}
                  </h3>
                  <p>{description}</p>
                </div>
                <div>{years}</div>
              </header>
              <footer>
                {highlights.map((highlight) => (
                  <p>{highlight}</p>
                ))}
              </footer>
            </article>
          );
        }
      )
    }
  </section>
</Section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  article {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  article header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  article h3 span {
    color: rgb(50, 177, 43);
  }
  h3:hover {
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }
  footer p {
    font-size: 0.85rem;
  }
</style>
